.navbar {
  display: block;
  z-index: 999;
  position: sticky;
  top: 0;
  width: 100%;
}
.header {
  height: 5rem;
  background: var(--white);
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 6px solid var(--first-color);
}
.logo {
  width: 5rem;
  object-fit: contain;
}
.logoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-links {
  color: inherit;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.navbarsSection {
  flex: 2;
  display: flex;
  font-size: 1.2rem;
}
.nav-menu {
  display: flex;
}
.nav-item {
  list-style: none;
}
.nav-menu .nav-links {
  color: var(--second-color);
  font-weight: 700;
}
.nav-menu .nav-links:hover {
  color: var(--first-color);
  transition: all 0.5s ease;
}
.icons {
  display: none;
}
.telephone {
  background: var(--first-color);
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 500;
  flex: 1;
}

.telephone .nav-links:hover {
  font-weight: 700;
}
.search {
  width: 100%;
  display: none;
}

@media screen and (max-width: 800px) {
  .icons {
    display: flex;
    position: absolute;
    right: 2rem;
    /* width: 5rem; */
    color: var(--first-color);
    font-size: 1.4rem;
  }

  .navbarsSection {
    position: relative;
    right: 0;
  }
  .telephone {
    display: none;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1rem;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 2.3rem;
    left: -150%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-menu.active {
    background: var(--first-color);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-menu .nav-links {
    color: var(--white);
  }
}
