.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  font-family: "Lato", sans-serif;
}
.aboutContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.aboutContainer img {
  width: 20rem;
}
.aboutText {
  width: 50%;
}
.aboutText h1 {
  line-height: 3rem;
}
.aboutTextP {
  line-height: 1.8rem;
}
.aboutText .button {
  border: 2px solid var(--first-color);
  color: var(--first-color);
  font-weight: 600;
  font-size: 1rem;
  height: 3rem;
  width: 8rem;
  margin-top: 1.4rem;
  background: none;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutText .button:hover {
  background: var(--first-color);
  color: var(--white);
  /* border: 2px solid; */
}

@media screen and (max-width: 800px) {
  .aboutSection {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .aboutContainer {
    display: block;
    padding: 0.3rem;
  }
  .aboutContainer img {
    width: 100%;
  }
  .aboutText {
    width: 100%;
    padding: 1rem;
  }
  .aboutText h1 {
    line-height: 30px;
    font-size: 1.3rem;
  }
  .aboutTextP p {
    font-size: 1rem;
  }
}
